@tailwind base;
@tailwind components;
@tailwind utilities;

#action-save {
    background-color: coral;
}

button[type="submit"] {
    background-color: coral;
}

#confirm-delete {
background-color: coral;
}